
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SSS</title>
</head>
<body>
    <div> <a href="MZGUser">content</a>
    </div>
</body>
</html>
