
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderParticulars</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>l
    <div>
        <div>
            @foreach (var i in Model)
            {
                <table class="table table-striped">
                    <tr>
                        <td>订单编号:</td>
                        <td>@i.Oen</td>
                    </tr>
                    <tr>
                        <td>订单时间:</td>
                        <td>@i.OrderTime</td>
                    </tr>
                    <tr>
                        <td>订单总价:</td>
                        <td><span id="dd"></span></td>
                    </tr>
                    <tr>
                        <td>以下菜品:</td>
                        <td>
                            <input id="orderid" type="hidden" value="@i.OrderId" />
                            <table class="table table-bordered">
                                <tr>
                                    <td>菜品姓名</td>
                                    <td>菜品数量</td>
                                    <td>菜品价格</td>
                                </tr>
                                <tbody id="td"></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</body>
</html>
<script>
    var sum = 0;
    $(function () {
        var OrderId = $("#orderid").val();
        Menu(OrderId);
    })
    function Menu(OrderId) {
        $.ajax({
            url: "http://10.1.156.58:8089/api/wqb/ShowMenu?OrderId=" + OrderId,
            type: "get",
            success: function (data) {
                $(data).each(function () {
                    var line = '<tr>'
                        + '<td>' + this.GreensName + '</td>'
                        + '<td>' + this.Gnum + '</td>'
                        + '<td>' + this.GreensPrice + '</td>'
                        + '</tr>'
                    $("#td").append(line);
                    sum += this.Gnum * this.GreensPrice;
                })
                $("#dd").text(sum);
            }
        })
    }
</script>
