<!doctype html>
<html>
<head>

    <title>支付结果</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/payment_results.css" rel="stylesheet" />
</head>
<body>
    <div class="incomplete_order">
        <p>支付成功</p>
        <p><span id="Price"></span></p>
        <a href="#" onclick="GetOrder()">查看详情</a>
    </div>
    <div class="main_info">
        <div class="hang">
            <span>门店名称</span>
            <span>枫叶餐厅</span>
        </div>
        <div class="hang">
            <span>交易时间</span>
            <span id="Time"></span>
        </div>
        <div class="hang">
            <span>交易订单</span>
            <span id="Oen"></span>
        </div>
        <input id="oen" type="hidden" value="@ViewBag.oen" />
        <input id="img" type="hidden" value="@ViewBag.img" />
        <input id="RepastWay" type="hidden" value="@ViewBag.RepastWay" />
    </div>
    <div class="invoice">
        <span>点一点，马上开发票</span>
        <span>开发票</span>
    </div>
    <div style="margin: auto;" id="ss">
    </div>
</body>
</html>
<script>
    //全局变量
    var aaa = $("#oen").val();

    //初始化函数
    $(function () {
        if ($("#RepastWay").val()=="false") { }
        else {
            var s = '<img src="' + $("#img").val() + '" style="margin: auto;margin-top: 20px;" />';
            s+='<br/><span>到店取餐码</span>'
            $("#ss").append(s);
        }
    })
    //查询订单详情
    function GetOrder() {
        $.ajax({
            url: "http://localhost:50037/api/Zrw/GetOrder?Oen=" + aaa,
            type: "get",
            dataType: "json",
            success: function (data) {
                $(data).each(function () {
                    $("#Price").text(this.OrderPrice);
                    $("#Time").text(this.OrderTime);
                    $("#Oen").text(aaa);
                    location.href = "/Wqb/OrderParticulars?OrderId="+this.OrderId;
                })
            }
        })
    }
</script>
