<!doctype html>
<html>
<head>

    <title>支付结果</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/payment_results.css" rel="stylesheet" />
</head>
<body>
    <div class="incomplete_order">
        <p>支付成功</p>
        <p><span id="Price"></span></p>
        <a href="#" onclick="GetOrder()">查看详情</a>
    </div>
    <div class="main_info">
        <div class="hang">
            <span>门店名称</span>
            <span>枫叶餐厅</span>
        </div>
        <div class="hang">
            <span>交易时间</span>
            <span id="Time"></span>
        </div>
        <div class="hang">
            <span>交易订单</span>
            <span id="Oen"></span>
        </div>
        <input id="oen" type="hidden" value="@ViewBag.oen" />
        <input id="img" type="hidden" value="@ViewBag.img" />
        <input id="RepastWay" type="hidden" value="@ViewBag.RepastWay" />
    </div>
    <div class="invoice">
        <span>点一点，马上开发票</span>
        <span>开发票</span>
    </div>
    <div style="margin: auto;" id="ss">
    </div>
    <button style="width:200px;height:50px;border-radius:25px;margin-top:15px;cursor:pointer;margin-left:25%;"><a href="/Default/Home?UserId=@ViewBag.uid&Phone=@ViewBag.phone">返回首页</a></button>
</body>
</html>
<script>
    //全局变量
    var aaa = $("#oen").val();
    var Integral = 0;
    //初始化函数
    $(function () {
        if ($("#RepastWay").val()=="false") { }
        else {
            var s = '<h3 style="text-align:center;">到店取餐码</h3><img src="' + $("#img").val() + '" style="margin: auto;margin-top: 20px;" />';
            $("#ss").append(s);
        }
        GetOrder11();
    })
        //查询订单详情
    function GetOrder11() {
        $.ajax({
            url: "http://localhost:50037/api/Zrw/GetOrder?Oen=" + aaa,
            type: "get",
            dataType: "json",
            success: function (data) {
                $(data).each(function () {
                    $("#Price").text(this.OrderPrice);
                    $("#Time").text(this.OrderTime);
                    $("#Oen").text(aaa);
                    Integral = this.OrderPrice / 10;
                    AddIntegral(this.Uid, Math.round(Integral));
                })
            }
        })
    }
    function AddIntegral(uid, integral) {
        $.ajax({
            url: "http://localhost:50037/api/Zrw/AddIntegral",
            type: "get",
            data: { Uid: uid, integral: integral },
            success: function (data) {
            }
        })
    }
    //查询订单详情
    function GetOrder() {
        $.ajax({
            url: "http://localhost:50037/api/Zrw/GetOrder?Oen=" + aaa,
            type: "get",
            dataType: "json",
            success: function (data) {
                $(data).each(function () {
                    $("#Price").text(this.OrderPrice);
                    $("#Time").text(this.OrderTime);
                    $("#Oen").text(aaa);
                    top.location.href = "/Wqb/OrderParticulars?OrderId=" + this.OrderId;
                })
            }
        })
    }
</script>
