
@{
    Layout = null;
}

<!DOCTYPE html>
@model List<Take_Out_Project_MVC.Models.ViewModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wei</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table style="width:100%;height:50px;border:0px;">
        <tr style="background-color:#f9b82c;height 0:60px;text-align:center;color:white;">
            <td style="text-align:left;color:white;">
                <img src="~/UserImg/fh.jpg" onclick="location.href='/ZQ/ZQIndex'" height="30" style="margin-left:20px;">
            </td>
            <td>
                <sapn style="height:30px"><b style="font-size:30px;margin-right:70px;">未付款订单</b></sapn>
            </td>
            <td></td>
        </tr>
    </table>
    @foreach (var i in Model)
    {

        <div style="width:80%;height:150px;margin-left:30px;display:block;margin-bottom:100px;">
            <h4>订单编号:@i.Oen</h4>
            <h4>订单总价:<span id="sum@(ViewBag.sum++)"></span></h4>
            <h4>订单时间:@i.OrderTime.ToString("yyyy-MM-dd HH:mm:ss")</h4>
            <h4>订单详情:</h4>
            <div class="dd">
                <input id="orderid@(ViewBag.ss++)" type="hidden" value="@i.OrderId" />
                <table class="table table-bordered">
                    <tr>
                        <td>菜品姓名</td>
                        <td>菜品数量</td>
                        <td>菜品价格</td>
                    </tr>
                    <tbody id="td@(ViewBag.s++)"></tbody>
                </table>
                <div>
                </div>
                <p>未支付</p>
                <input id="Button1" type="button" value="去支付" onclick="GO(@i.Oen)" class="btn btn-default" style="margin-left:80%" />
            </div>
        </div>
    }

</body>
</html>
<script>
    var sum = 0;
    var i = 0;
    var u = 0;
    $(function () {
        $(".dd").each(function (i, v) {
            Menu($("#orderid" + i).val());
        })
    })
    function Menu(OrderId) {
        $.ajax({
            url: "http://localhost:50037/api/wqb/ShowMenu?OrderId=" + OrderId,
            type: "get",
            success: function (data) {
                $("#td" + i).empty();
                $(data).each(function () {

                    var line = '<tr>'
                        + '<td>' + this.GreensName + '</td>'
                        + '<td>' + this.Gnum + '</td>'
                        + '<td>' + this.GreensPrice + '</td>'
                        + '</tr>'
                    $("#td" + i).append(line);
                    i = i + 1;
                    sum += this.Gnum * this.GreensPrice;

                })
                $("#sum" + u).text(sum);
                sum = 0;
                u = u + 1;
            }
        })
    }
    function GO(Oen) {
        location.href = '/Default/Order_notes?Oen=' + Oen;
    }
</script>